FLASK_APP = app 
FLASK_DEBUG = 1

SQLALCHEMY_DATABASE_URI = 'sqlite:///syncup_call.db'
SECRET_KEY = "<YOUR-SECRET-KEY>"
APPLICATION_ROOT = 'C:/dev/efficiency_calculator/flask'   
UPLOAD_ROOT = 'C:/dev/efficiency_calculator/flask/uploads'

## AI RECOMMANDATION###
AZURE_OPENAI_ENDPOINT=https://cognizant-azure-openai.openai.azure.com/
AZURE_OPENAI_KEY=<OPENAI-KEY>
AZURE_OPENAI_VERSION=2024-02-15-preview